.div{
    border: 10px solid pink;
border-radius: 20px;
padding: 20px;
color: aqua;
/* background-image: url(photos/naim.jpg); */
/* background-size: cover; */
background-color: blueviolet;
}
#blog{
    color: pink;
    background-color: black;
    border: 10px solid pink;
    border-radius: 30px;
    padding: 10px;
    margin: 40px;
}
.vlog{
    background-color: aqua;
    color: red;
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 10px rebeccapurple;
}